.chessboard {
    max-height: 100vh;
    width: 800px;
}

.row {
    display: flex;
}

.square {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.square img {
    width: 100%;
    pointer-events: none;
}

.black {
    background-color: brown;
}

.white {
    background-color: whitesmoke;
}

@media screen and (max-width: 800px) {
    .chessboard {
        width: 100vw;
        position: absolute;
        left: 0px;
    }
}
